.gradle/
.idea/
local.properties
.DS_Store
**/build/
/artifacts/
/release/
.release-temp/
*.iml
*.apk
*.aab
*.ap_
*.dex
*.jks
*.keystore
*.pem
*.p12
*.pfx
*.idsig
signing.properties
keystore.properties
signing.jks
